<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="../styles/root.css"
		/>
	</head>
	<body>
		<!-------------------------Footer Section------------------------->

		<footer class="col-12">
			<div class="grid-col-4 col-12">
				<div class="footer-container">
					<div class="section-one">
						<span
							><img src="" alt="" />
							<h5>
								Always here to help you
							</h5>
						</span>

						<div class="intro-and-links">
							<h5>
								All Rights are reserved
							</h5>
							<h5>
								Made with
								❤️
								by Mayank Kumar
							</h5>
						</div>
					</div>
				</div>

				<div class="section-three">
					<h5>Account</h5>
					<h6><a href="">My Account</a></h6>
					<h6>
						<a href="">Privacy Policy</a>
					</h6>
				</div>

				<div class="section-four">
					<h5>ABOUT</h5>
					<h6><a href="">Contact Us</a></h6>
					<h6><a href="">About Us</a></h6>
				</div>

				<div class="section-six">
					<p class="footer-address">
						Address: Dwarka, New Delhi
					</p>
					<p class="footer-address">
						<span>Call US:</span>
						1800 000 0000
					</p>
					<p class="footer-address">
						<span>Email</span>
						<a
							href="mailto: mayankkumark28@gmail.com"
							>Click This</a
						>
					</p>
				</div>
			</div>
		</footer>

		<script src="../scripts/index.js"></script>
	</body>
</html>
