<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
<!-------------------------Header Page Start------------------------->
  
<div class="ComponentMainBoxOne img-responsive">

  <header class="headerContainerMain header-center Header-TextSize box-shadow quiz-container-bg">
    <div class="headerContainerOne flex-evenly padding-small-left1">
      <img class="logoImage" src="./Images/Phoenix UI.jpg">
      <h4><a href="./HomePage.html" target="iframe-main-container">Vision Quiz</a></h4>
    </div>

    <div class="headerContainerTwo flex padding-top-normal1">
      <form class="search-container-main" action="#">
        <input class="boxShadow search-container" type="search" name="" placeholder="search" id="">
        <button class="material-icons button-transparent primary-btn">search</button>
      </form>
      
<div class="iconsContainer flex-evenly">
<a class="headerAnchorTag flex-column-center icons-btn-hover buttonHoverShadow" href="./UserPage.html"  target="iframe-main-container">  <i class="material-icons material-icons-text">person </i><span class="icon-inner-txt">Account</span> </a>

<a class="headerAnchorTag flex-column-center icons-btn-hover buttonHoverShadow " href="./WishList.html"  target="iframe-main-container">  <i class="material-icons material-icons-text">favorite </i><span class="icon-inner-txt">Playlist</span> </a>

<a class="headerAnchorTag flex-column-center icons-btn-hover buttonHoverShadow" href="./Cart.html"  target="iframe-main-container">  <i class="material-icons material-icons-text">theaters</i><span class="icon-inner-txt">Library</span></a> 
</div>

<button id="myBtn" class="header-btn transparent-bg button-normal ButtonDomContainer icons-btn-hover buttonHoverShadow">
<a class="headerAnchorTag flex-column-center" href="./Login.html"  target="iframe-main-container"><span class="button-inner-txt">Login</span> </a> 
</button>

  </div>
</header>   
<!-------------------------Header Page End------------------------->

</body>
</html>