<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/root.css" />
	</head>
	<body>
		<div
			class="InstallationDomMainContainer TypoHtag card-container-bg flex-space-evenly"
		>
			<div
				class="padding-small-card shade classA translateOne"
			
			>
			<a 	href="./RulesOne.html" target="iframe-quiz">
				<div
					class="quiz-container padding-small-card shade imgTransition"
				>
					<img
						class="quiz-img"
						src="./img/quiz1.jpg"
						alt="quiz1-Img"
						srcset=""
					/>
				</div>
				<div class="padding-normal card-selector-text">
					<h4>Suits</h4>
					<p>I don't play the odds, I play the man</p>
				</div>
				</a>
			</div>

			<div
				class="padding-small-card shade classA translateOne"
			>
				<a 	href="./RulesTwo.html" target="iframe-quiz">
				<div
					class="quiz-container padding-small-card shade imgTransition"
					href="./quizTwo.html" target="iframe-quiz"
				>
					<img
						class="quiz-img"
						src="./img/quiz2.jpg"
						alt="quiz1-Img"
						srcset=""
					/>
				</div>
				<div class="padding-normal card-selector-text">
					<h4>Mini Series</h4>
					<p>Stay Foolish Stay Hungry</p>
				</div>
				</a>
			</div>
		</div>

		
		</div>

		<script src="../scripts/quiz.js"></script>
	</body>
</html>
