<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/root.css" />
	</head>
	<body>
		<div
			class="InstallationDomMainContainer TypoHtag card-container-bg flex-space-evenly"
		>
			<div
				class="padding-small-card shade classA translateOne"
			>
					<div
						class="quiz-container padding-small-card shade"
					>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. Eius cumque maiores a alias
							repellat porro odit fugit possimus obcaecati
							quasi quaerat adipisci iusto dignissimos, iure
							quo reiciendis atque recusandae! Eveniet.
						</p>
					</div>
					<div class="padding-normal card-selector-text">
						<div class="option-container">
							<button class="options quiz-container padding-small-card shade imgTransition">Option 1</button>
							<button class="options quiz-container padding-small-card shade imgTransition" value="true">Option 2</button>
              <button class="options quiz-container padding-small-card shade imgTransition">Option 3</button>
							<button class="options quiz-container padding-small-card shade imgTransition">Option 4</li>
						</div>
					</div>
			</div>
      <div
				class="padding-small-card shade classA translateOne back-btn"
			onclick="history.back()">Go Back</div>
		</div>
	</body>
</html>
