<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="../styles/root.css"
		/>
	</head>
	<body>
		<div
			class="InstallationDomMainContainer TypoHtag card-container-bg flex-space-evenly"
		>
			<div
				class="padding-small-card rules-main-container shade column-al-sp-around translateOne"
			>
				<div
					class="rules-container flex-column-al-center padding-small-card shade"
				>
					<h2>Rules Of The Quiz</h2>
					<ul
						class="list-main-container padding-normal flex-column-start"
					>
						<li class="list-container">
							There are fives questions in
							Quiz
						</li>
						<li class="list-container">
							Two marks for each Question
						</li>
						<li class="list-container">
							There is no negative marking
						</li>
						<li class="list-container">
							you can choose only one option
						</li>
						<li class="list-container">
							You can not skip the questions
						</li>
					</ul>
				</div>

				<a
					class="col-12"
					href="../components/quizTwo.html"
					target="iframe-quiz"
				>
					<div
						class="padding-small-card shade flex-column-al-center translateOne margin-normal-top back-btn imgTransition"
					>
						Proceed to Quiz
					</div>
				</a>

				<div
					class="padding-small-card shade flex-column-al-center translateOne margin-normal-top back-btn imgTransition col-12"
					onclick="history.back()"
				>
					Go Back
				</div>
			</div>
		</div>

		<script src="../scripts/quiz.js"></script>
	</body>
</html>
