<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="../styles/root.css"
		/>
		<title>Quiz App</title>

		<style
			src="./styles/root.css"
			rel="stylesheet"
		></style>
	</head>
	<body>
		<div
			class="padding-small-card shade classA translateOne"
		>
			<img
				class="quiz-index-img"
				src="./img/1_jRuU1_OQ1P98SRjniHx1Jg.jpeg"
				alt="quiz-img"
			/>
			<div
				class="padding-small-card shade classA translateOne container-absolule quiz-container-bg col-6"
			>
				<div
					class="quiz-container padding-small-card shade imgTransition col-12"
				>
					<img
						class="quiz-img"
						src="./img/movies collage.jpeg"
						alt="quiz1-Img"
						srcset=""
					/>
				</div>
				<div
					class="padding-normal card-selector-text flex-column-center col-12"
				>
					<h3>Series Quiz</h3>
					<p>
						If you Know about the series Play
						this Quiz
					</p>
				</div>
				<a
					href="./homePage.html"
					target="iframe-quiz"
				>
					<div
						class="quiz-container padding-small-card shade imgTransition flex-row-center col-12"
					>
						Start Quiz
					</div>
				</a>
			</div>
		</div>

		<script src="../src/scripts/index.js"></script>
	</body>
</html>
